# Rename it to .env
# BASE
API_V1_PREFIX="/v1/admin"
PUBLIC_URL="http://localhost:8000"
DEBUG=True
PROJECT_NAME="CloudSpend API Modifier"
VERSION="0.1.0"
DESCRIPTION="Service to provide custom users and org management"
# CLoudSpend API
OPT_SCALE_API_URL="https://your-optscaledomain.com"
# JWT TOKEN
SECRET="my_super_secret_here"
ALGORITHM=HS256
ISSUER="SWO"
AUDIENCE="modifier"
# API Client
DEFAULT_REQUEST_TIMEOUT=10
# Admin Token
ADMIN_TOKEN="your admin token here"
